{{title pageTitle}}

<div class="row">
  <div class="col-9">
    {{input value=searchQuery insert-newline="search" class="search" placeholder="Michael Scott Search"}}
  </div>
  <div class="col-3">
    <button class="btn" {{action "search"}}>search</button>
  </div>
</div>

{{#each images as |image|}}
  <div class="row">
    <div class="col-12">
      <img src={{image.url}} />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{image-tags tags=image.tags}}
      {{image-url value=image.url}}
    </div>
  </div>
{{/each}}

{{#unless images}}
  <div class="row">
    <div class="col-12">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </div>
{{/unless}}
